In [1]:
import pandas as pd

record = pd.read_excel("Nigerian population.xlsx")
record

      Age  Population  Percent
0     0–4    22594967    16.09
1     5–9    20005380    14.25
2   10–14    16135950    11.49
3   15–19    14899419    10.61
4   20–24    13435079     9.57
5   25–29    12211426     8.70
6   30–34     9467538     6.74
7   35–39     7331755     5.22
8   40–44     6456470     4.60
9   45–49     4591293     3.27
10  50–54     4249219     3.03
11  55–59     2066247     1.47
12  60–64     2450286     1.74
13  65–69     1151048     0.82
14  70–74     1264937     0.95
15  75–79      579838     0.41
16  80–84      760053     0.54
17    85+      715225     0.51

In [2]:
record.nlargest(1,"Population")

   Age  Population  Percent
0  0–4    22594967    16.09

In [3]:
record.nlargest(3,"Population")

     Age  Population  Percent
0    0–4    22594967    16.09
1    5–9    20005380    14.25
2  10–14    16135950    11.49

In [4]:
record.nsmallest(1,"Population")

      Age  Population  Percent
15  75–79      579838     0.41

In [5]:
record.nsmallest(4,"Population")

      Age  Population  Percent
15  75–79      579838     0.41
17    85+      715225     0.51
16  80–84      760053     0.54
13  65–69     1151048     0.82

In [6]:
record.dtypes  #pandas property

Age            object
Population      int64
Percent       float64
dtype: object

In [7]:
# iloc is used to locate a particular cell or row in a column
#iloc used squared bracket, because it is accessing a cell or row
#iloc only takes integar
#iloc[r,c] where r stands for row and c for column.

record.iloc[1,1]

20005380

In [8]:
record.iloc[4,2]

9.57

In [9]:
#changing a value in a cell

record.iloc[2,1] = 17190212

In [10]:
record

      Age  Population  Percent
0     0–4    22594967    16.09
1     5–9    20005380    14.25
2   10–14    17190212    11.49
3   15–19    14899419    10.61
4   20–24    13435079     9.57
5   25–29    12211426     8.70
6   30–34     9467538     6.74
7   35–39     7331755     5.22
8   40–44     6456470     4.60
9   45–49     4591293     3.27
10  50–54     4249219     3.03
11  55–59     2066247     1.47
12  60–64     2450286     1.74
13  65–69     1151048     0.82
14  70–74     1264937     0.95
15  75–79      579838     0.41
16  80–84      760053     0.54
17    85+      715225     0.51

In [11]:
#select rows from 9 to the ends

record.iloc[9:]

      Age  Population  Percent
9   45–49     4591293     3.27
10  50–54     4249219     3.03
11  55–59     2066247     1.47
12  60–64     2450286     1.74
13  65–69     1151048     0.82
14  70–74     1264937     0.95
15  75–79      579838     0.41
16  80–84      760053     0.54
17    85+      715225     0.51

In [12]:
#select rows from 9 to 14 for only population

record.iloc[9:14,1]

9     4591293
10    4249219
11    2066247
12    2450286
13    1151048
Name: Population, dtype: int64

In [13]:
record.iloc[9:14,0:2]

      Age  Population
9   45–49     4591293
10  50–54     4249219
11  55–59     2066247
12  60–64     2450286
13  65–69     1151048

In [14]:
 record.iloc[13:,2]

13    0.82
14    0.95
15    0.41
16    0.54
17    0.51
Name: Percent, dtype: float64

In [15]:
#loc is used to locate rows in a dataframe
#can contain strings and integers
#also uses the square bracket just like the iloc

record.loc[2, 'Population']

17190212

In [16]:
record.loc[1,'Age']

'5–9'

In [17]:
result = pd.read_excel("Engineering.xlsx")

In [18]:
result

          Student Name Department fee  MTH 102  CIT 142  PHY 192  BIO 101
0       Samson Popoola           paid       45       69       55       80
1        Abike Omotayo           paid       23       73       45       75
2       Chinedu Okafor         unpaid       67       56       56       90
3         Bisola Alabi           paid       54       87       34       74
4     Inemesit Patrick           paid       66       78       50       68
5      Moshood Ololade           paid       47       60       56       45
6    Akinnibosun Funke         unpaid       79       63       89       60
7        Vivian Udeogu           paid       88       45       39       57
8      Temitope Kazeem           paid       56       89       72       89
9       Okosun Mistura           paid       40       56       74       30
10      Pascal Ifeanyi         unpaid       50       71       65       40
11      Obafemi Badmus           paid       40       63       48       87
12  Akinleye Testimony         unpaid       60       45       67       69

In [19]:
#sort values is a method used to sort a column..
#it is used directly on the dataframe

result.sort_values("Student Name")

          Student Name Department fee  MTH 102  CIT 142  PHY 192  BIO 101
1        Abike Omotayo           paid       23       73       45       75
12  Akinleye Testimony         unpaid       60       45       67       69
6    Akinnibosun Funke         unpaid       79       63       89       60
3         Bisola Alabi           paid       54       87       34       74
2       Chinedu Okafor         unpaid       67       56       56       90
4     Inemesit Patrick           paid       66       78       50       68
5      Moshood Ololade           paid       47       60       56       45
11      Obafemi Badmus           paid       40       63       48       87
9       Okosun Mistura           paid       40       56       74       30
10      Pascal Ifeanyi         unpaid       50       71       65       40
0       Samson Popoola           paid       45       69       55       80
8      Temitope Kazeem           paid       56       89       72       89
7        Vivian Udeogu           paid       88       45       39       57

In [20]:
result.sort_values("Student Name", inplace=True)

In [21]:
result

          Student Name Department fee  MTH 102  CIT 142  PHY 192  BIO 101
1        Abike Omotayo           paid       23       73       45       75
12  Akinleye Testimony         unpaid       60       45       67       69
6    Akinnibosun Funke         unpaid       79       63       89       60
3         Bisola Alabi           paid       54       87       34       74
2       Chinedu Okafor         unpaid       67       56       56       90
4     Inemesit Patrick           paid       66       78       50       68
5      Moshood Ololade           paid       47       60       56       45
11      Obafemi Badmus           paid       40       63       48       87
9       Okosun Mistura           paid       40       56       74       30
10      Pascal Ifeanyi         unpaid       50       71       65       40
0       Samson Popoola           paid       45       69       55       80
8      Temitope Kazeem           paid       56       89       72       89
7        Vivian Udeogu           paid       88       45       39       57

In [22]:
result = result.sort_values("Student Name")

In [23]:
result

          Student Name Department fee  MTH 102  CIT 142  PHY 192  BIO 101
1        Abike Omotayo           paid       23       73       45       75
12  Akinleye Testimony         unpaid       60       45       67       69
6    Akinnibosun Funke         unpaid       79       63       89       60
3         Bisola Alabi           paid       54       87       34       74
2       Chinedu Okafor         unpaid       67       56       56       90
4     Inemesit Patrick           paid       66       78       50       68
5      Moshood Ololade           paid       47       60       56       45
11      Obafemi Badmus           paid       40       63       48       87
9       Okosun Mistura           paid       40       56       74       30
10      Pascal Ifeanyi         unpaid       50       71       65       40
0       Samson Popoola           paid       45       69       55       80
8      Temitope Kazeem           paid       56       89       72       89
7        Vivian Udeogu           paid       88       45       39       57

In [24]:
# to reset the index, use the reset_index
#used after removing rows or sorting
#drop=True removes the index column after sorting

result.reset_index(drop=True)

          Student Name Department fee  MTH 102  CIT 142  PHY 192  BIO 101
0        Abike Omotayo           paid       23       73       45       75
1   Akinleye Testimony         unpaid       60       45       67       69
2    Akinnibosun Funke         unpaid       79       63       89       60
3         Bisola Alabi           paid       54       87       34       74
4       Chinedu Okafor         unpaid       67       56       56       90
5     Inemesit Patrick           paid       66       78       50       68
6      Moshood Ololade           paid       47       60       56       45
7       Obafemi Badmus           paid       40       63       48       87
8       Okosun Mistura           paid       40       56       74       30
9       Pascal Ifeanyi         unpaid       50       71       65       40
10      Samson Popoola           paid       45       69       55       80
11     Temitope Kazeem           paid       56       89       72       89
12       Vivian Udeogu           paid       88       45       39       57

In [25]:
import numpy

numpy.arange(1,14)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13])

In [26]:
result.index = numpy.arange(1,14)

In [27]:
result

          Student Name Department fee  MTH 102  CIT 142  PHY 192  BIO 101
1        Abike Omotayo           paid       23       73       45       75
2   Akinleye Testimony         unpaid       60       45       67       69
3    Akinnibosun Funke         unpaid       79       63       89       60
4         Bisola Alabi           paid       54       87       34       74
5       Chinedu Okafor         unpaid       67       56       56       90
6     Inemesit Patrick           paid       66       78       50       68
7      Moshood Ololade           paid       47       60       56       45
8       Obafemi Badmus           paid       40       63       48       87
9       Okosun Mistura           paid       40       56       74       30
10      Pascal Ifeanyi         unpaid       50       71       65       40
11      Samson Popoola           paid       45       69       55       80
12     Temitope Kazeem           paid       56       89       72       89
13       Vivian Udeogu           paid       88       45       39       57

In [28]:
#sum of marks obtained in MTH 102
#summing vertically
#axis=0 is vertically summation


result["MTH 102"]

result["MTH 102"].sum()

715

In [29]:
result["CIT 142"]

result["CIT 142"].sum()

855

In [63]:
result["CIT 142"]

result["CIT 142"].sum()

855

In [65]:
result["PHY 192"]

result["PHY 192"].sum()

750

In [32]:
result["BIO 101"]

result["BIO 101"].sum()

864

In [33]:
#create a total column

result["Total"] = ""

In [34]:
result

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,Total
1,Abike Omotayo,paid,23,73,45,75,
2,Akinleye Testimony,unpaid,60,45,67,69,
3,Akinnibosun Funke,unpaid,79,63,89,60,
4,Bisola Alabi,paid,54,87,34,74,
5,Chinedu Okafor,unpaid,67,56,56,90,
6,Inemesit Patrick,paid,66,78,50,68,
7,Moshood Ololade,paid,47,60,56,45,
8,Obafemi Badmus,paid,40,63,48,87,
9,Okosun Mistura,paid,40,56,74,30,
10,Pascal Ifeanyi,unpaid,50,71,65,40,
11,Samson Popoola,paid,45,69,55,80,
12,Temitope Kazeem,paid,56,89,72,89,
13,Vivian Udeogu,paid,88,45,39,57,

In [35]:
result["Average"] = ""

In [36]:
result

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,Total,Average
1,Abike Omotayo,paid,23,73,45,75,,
2,Akinleye Testimony,unpaid,60,45,67,69,,
3,Akinnibosun Funke,unpaid,79,63,89,60,,
4,Bisola Alabi,paid,54,87,34,74,,
5,Chinedu Okafor,unpaid,67,56,56,90,,
6,Inemesit Patrick,paid,66,78,50,68,,
7,Moshood Ololade,paid,47,60,56,45,,
8,Obafemi Badmus,paid,40,63,48,87,,
9,Okosun Mistura,paid,40,56,74,30,,
10,Pascal Ifeanyi,unpaid,50,71,65,40,,
11,Samson Popoola,paid,45,69,55,80,,
12,Temitope Kazeem,paid,56,89,72,89,,
13,Vivian Udeogu,paid,88,45,39,57,,

In [37]:
#extracting multiple columns reqires double brackets


result[["MTH 102","CIT 142","PHY 192" ,"BIO 101"]].sum(axis=1)

1     216
2     241
3     291
4     249
5     269
6     262
7     208
8     238
9     200
10    226
11    249
12    306
13    229
dtype: int64

In [38]:
result[["MTH 102","CIT 142","PHY 192" ,"BIO 101"]].sum(axis=0)

MTH 102    715
CIT 142    855
PHY 192    750
BIO 101    864
dtype: int64

In [39]:
result["Total"]=result[["MTH 102","CIT 142","PHY 192" ,"BIO 101"]].sum(axis=1)

In [40]:
result

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,Total,Average
1,Abike Omotayo,paid,23,73,45,75,216,
2,Akinleye Testimony,unpaid,60,45,67,69,241,
3,Akinnibosun Funke,unpaid,79,63,89,60,291,
4,Bisola Alabi,paid,54,87,34,74,249,
5,Chinedu Okafor,unpaid,67,56,56,90,269,
6,Inemesit Patrick,paid,66,78,50,68,262,
7,Moshood Ololade,paid,47,60,56,45,208,
8,Obafemi Badmus,paid,40,63,48,87,238,
9,Okosun Mistura,paid,40,56,74,30,200,
10,Pascal Ifeanyi,unpaid,50,71,65,40,226,
11,Samson Popoola,paid,45,69,55,80,249,
12,Temitope Kazeem,paid,56,89,72,89,306,
13,Vivian Udeogu,paid,88,45,39,57,229,

In [41]:
result["Average"]=result[["MTH 102","CIT 142","PHY 192" ,"BIO 101"]].mean(axis=1)

In [42]:
result

,Student Name,Department fee,MTH 102,CIT 142,PHY 192,BIO 101,Total,Average
1,Abike Omotayo,paid,23,73,45,75,216,54.00
2,Akinleye Testimony,unpaid,60,45,67,69,241,60.25
3,Akinnibosun Funke,unpaid,79,63,89,60,291,72.75
4,Bisola Alabi,paid,54,87,34,74,249,62.25
5,Chinedu Okafor,unpaid,67,56,56,90,269,67.25
6,Inemesit Patrick,paid,66,78,50,68,262,65.50
7,Moshood Ololade,paid,47,60,56,45,208,52.00
8,Obafemi Badmus,paid,40,63,48,87,238,59.50
9,Okosun Mistura,paid,40,56,74,30,200,50.00
10,Pascal Ifeanyi,unpaid,50,71,65,40,226,56.50
11,Samson Popoola,paid,45,69,55,80,249,62.25
12,Temitope Kazeem,paid,56,89,72,89,306,76.50
13,Vivian Udeogu,paid,88,45,39,57,229,57.25

In [43]:
pd.read_excel("Fruit product data-3(2).xlsx.")

       Unnamed: 0     Unnamed: 1
0             NaN            NaN
1      Row Labels  Sum of Amount
2          Canada          82338
3           Fruit          82338
4         Germany          66430
5           Fruit          66430
6  United Kingdom          87786
7           Fruit          87786
8     Grand Total         236554

In [71]:
#sheet_name is an argument the opens a particular sheet

Fruit = pd.read_excel("Fruit product data-3(2).xlsx","Sheet1")

In [69]:
Fruit

     Order ID     Product    Category  Amount Order Date        State
0           1     Carrots  Vegetables    4270 2012-01-06  Cross River
1           2  Water leaf  Vegetables    8239 2012-01-07        Lagos
2           3      Banana       Fruit     617 2012-01-08  Cross River
3           4      Banana       Fruit    8384 2012-01-10        Abuja
4           5       Beans  Vegetables    2626 2012-01-10         Ogun
5           6      Orange       Fruit    3610 2012-01-11  Cross River
6           7  Water leaf  Vegetables    9062 2012-01-11        Benue
7           8      Banana       Fruit    6906 2012-01-16        Delta
8           9       Apple       Fruit    2417 2012-01-16       Bauchi
9          10       Apple       Fruit    7431 2012-01-16        Abuja
10         11      Banana       Fruit    8250 2012-01-16         Ogun
11         12  Water leaf  Vegetables    7012 2012-01-18  Cross River
12         13     Carrots  Vegetables    1903 2012-01-20         Ogun
13         14  Water leaf  Vegetables    2824 2012-01-22        Abuja
14         15       Apple       Fruit    6946 2012-01-24       Bauchi
15         16      Banana       Fruit    2320 2012-01-27        Lagos
16         17      Banana       Fruit    2116 2012-01-28  Cross River
17         18      Banana       Fruit    1135 2012-01-30        Lagos
18         19  Water leaf  Vegetables    3595 2012-01-30        Lagos
19         20       Apple       Fruit    1161 2012-02-02  Cross River
20         21      Orange       Fruit    2256 2012-02-04       Bauchi
21         22      Banana       Fruit    1004 2012-02-11        Delta
22         23      Banana       Fruit    3642 2012-02-14        Abuja
23         24      Banana       Fruit    4582 2012-02-17  Cross River
24         25       Beans  Vegetables    3559 2012-02-17        Lagos
25         26     Carrots  Vegetables    5154 2012-02-17        Benue
26         27       Mango       Fruit    7388 2012-02-18       Bauchi
27         28       Beans  Vegetables    7163 2012-02-18  Cross River
28         29       Beans  Vegetables    5101 2012-02-20         Ogun
29         30       Apple       Fruit    7602 2012-02-21       Bauchi
30         31       Mango       Fruit    1641 2012-02-22  Cross River
31         32       Apple       Fruit    8892 2012-02-23        Benue
32         33       Apple       Fruit    2060 2012-02-29       Bauchi
33         34  Water leaf  Vegetables    1557 2012-02-29         Ogun
34         35       Apple       Fruit    6509 2012-03-01       Bauchi
35         36       Apple       Fruit    5718 2012-03-04        Benue
36         37       Apple       Fruit    7655 2012-03-05  Cross River
37         38     Carrots  Vegetables    9116 2012-03-05        Lagos
38         39      Banana       Fruit    2795 2012-03-15  Cross River
39         40      Banana       Fruit    5084 2012-03-15  Cross River
40         41     Carrots  Vegetables    8941 2012-03-15        Lagos
41         42  Water leaf  Vegetables    5341 2012-03-16       Bauchi
42         43      Banana       Fruit     135 2012-03-19        Abuja
43         44      Banana       Fruit    9400 2012-03-19        Benue
44         45       Beans  Vegetables    6045 2012-03-21         Ogun
45         46       Apple       Fruit    5820 2012-03-22        Delta
46         47      Orange       Fruit    8887 2012-03-23         Ogun
47         48      Orange       Fruit    6982 2012-03-24  Cross River
48         49      Banana       Fruit    4029 2012-03-26        Benue
49         50     Carrots  Vegetables    3665 2012-03-26         Ogun
50         51      Banana       Fruit    4781 2012-03-29       Bauchi
51         52       Mango       Fruit    3663 2012-03-30        Benue
52         53       Apple       Fruit    6331 2012-04-01       Bauchi
53         54       Apple       Fruit    4364 2012-04-01        Abuja
54         55     Carrots  Vegetables     607 2012-04-03        Lagos
55         56      Banana       Fruit    1054 2012-04-06        Delta
56         57     Carrots  Vegetables    7659 2012-04-06  Cross River
57         58  Water leaf  Vegetables     277 2012-04-12         Ogun
58         59      Banana       Fruit     235 2012-04-17  Cross River
59         60      Orange       Fruit    1113 2012-04-18        Benue
60         61       Apple       Fruit    1128 2012-04-21  Cross River
61         62  Water leaf  Vegetables    9231 2012-04-22        Abuja
62         63      Banana       Fruit    4387 2012-04-23  Cross River
63         64       Apple       Fruit    2763 2012-04-25        Abuja
64         65      Banana       Fruit    7898 2012-04-27        Lagos
65         66      Banana       Fruit    2427 2012-04-30       Bauchi
66         67      Banana       Fruit    8663 2012-05-01        Delta
67         68     Carrots  Vegetables    2789 2012-05-01         Ogun
68         69      Banana       Fruit    4054 2012-05-02  Cross River
69         70       Mango       Fruit    2262 2012-05-02  Cross River
70         71       Mango       Fruit    5600 2012-05-02        Lagos
71         72      Banana       Fruit    5787 2012-05-03  Cross River
72         73      Orange       Fruit    6295 2012-05-03        Abuja
73         74      Banana       Fruit     474 2012-05-05         Ogun
74         75       Apple       Fruit    4325 2012-05-05       Bauchi
75         76      Banana       Fruit     592 2012-05-06  Cross River
76         77      Orange       Fruit    4330 2012-05-08  Cross River
77         78      Banana       Fruit    9405 2012-05-08        Lagos
78         79       Apple       Fruit    7671 2012-05-08       Bauchi
79         80     Carrots  Vegetables    5791 2012-05-08        Lagos
80         81      Banana       Fruit    6007 2012-05-12        Abuja
81         82      Banana       Fruit    5030 2012-05-14         Ogun
82         83     Carrots  Vegetables    6763 2012-05-14        Lagos
83         84      Banana       Fruit    4248 2012-05-15        Benue
84         85      Banana       Fruit    9543 2012-05-16       Bauchi
85         86  Water leaf  Vegetables    2054 2012-05-16        Lagos
86         87       Beans  Vegetables    7094 2012-05-16         Ogun
87         88     Carrots  Vegetables    6087 2012-05-18  Cross River
88         89       Apple       Fruit    4264 2012-05-19        Benue
89         90       Mango       Fruit    9333 2012-05-20  Cross River
90         91       Mango       Fruit    8775 2012-05-22         Ogun
91         92  Water leaf  Vegetables    2011 2012-05-23        Lagos
92         93      Banana       Fruit    5632 2012-05-25  Cross River
93         94      Banana       Fruit    4904 2012-05-25        Delta
94         95       Beans  Vegetables    1002 2012-05-25        Benue
95         96      Orange       Fruit    8141 2012-05-26        Lagos
96         97      Orange       Fruit    3644 2012-05-26        Abuja
97         98      Orange       Fruit    1380 2012-05-26        Benue
98         99  Water leaf  Vegetables    8354 2012-05-26         Ogun
99        100      Banana       Fruit    5182 2012-05-27  Cross River
100       101       Apple       Fruit    2193 2012-05-27       Bauchi
101       102       Mango       Fruit    3647 2012-05-28  Cross River
102       103       Apple       Fruit    4104 2012-05-28  Cross River
103       104     Carrots  Vegetables    7457 2012-05-28  Cross River
104       105       Mango       Fruit    3767 2012-05-29        Abuja
105       106  Water leaf  Vegetables    4685 2012-05-30         Ogun
106       107      Banana       Fruit    3917 2012-06-04  Cross River
107       108       Apple       Fruit     521 2012-06-04        Abuja
108       109       Apple       Fruit    5605 2012-06-10       Bauchi
109       110  Water leaf  Vegetables    9630 2012-06-11         Ogun
110       111      Banana       Fruit    6941 2012-06-20        Abuja
111       112  Water leaf  Vegetables    7231 2012-06-20        Lagos
112       113  Water leaf  Vegetables    8891 2012-06-23        Benue
113       114      Banana       Fruit     107 2012-06-25       Bauchi
114       115      Banana       Fruit    4243 2012-06-26  Cross River
115       116      Orange       Fruit    4514 2012-06-27  Cross River
116       117       Mango       Fruit    5480 2012-07-02  Cross River
117       118      Banana       Fruit    5002 2012-07-02       Bauchi
118       119      Banana       Fruit    8530 2012-07-05        Abuja
119       120      Orange       Fruit    4819 2012-07-07        Delta
120       121  Water leaf  Vegetables    6343 2012-07-11        Lagos
121       122      Orange       Fruit    2318 2012-07-13        Lagos
122       123      Orange       Fruit     220 2012-07-20        Lagos
123       124      Orange       Fruit    6341 2012-07-20        Delta
124       125       Apple       Fruit     330 2012-07-20         Ogun
125       126  Water leaf  Vegetables    3027 2012-07-20        Lagos
126       127      Orange       Fruit     850 2012-07-22        Delta
127       128      Banana       Fruit    8986 2012-07-23        Lagos
128       129  Water leaf  Vegetables    3800 2012-07-25  Cross River
129       130     Carrots  Vegetables    5751 2012-07-28        Lagos
130       131       Apple       Fruit    1704 2012-07-29        Lagos
131       132      Banana       Fruit    7966 2012-07-30        Benue
132       133      Banana       Fruit     852 2012-07-31  Cross River
133       134       Beans  Vegetables    8416 2012-07-31        Benue
134       135      Banana       Fruit    7144 2012-08-01       Bauchi
135       136  Water leaf  Vegetables    7854 2012-08-01  Cross River
136       137      Orange       Fruit     859 2012-08-03  Cross River
137       138  Water leaf  Vegetables    8049 2012-08-12  Cross River
138       139      Banana       Fruit    2836 2012-08-13         Ogun
139       140     Carrots  Vegetables    1743 2012-08-19  Cross River
140       141       Apple       Fruit    3844 2012-08-23       Bauchi
141       142       Apple       Fruit    7490 2012-08-24       Bauchi
142       143  Water leaf  Vegetables    4483 2012-08-25         Ogun
143       144       Apple       Fruit    7333 2012-08-27        Abuja
144       145     Carrots  Vegetables    7654 2012-08-28  Cross River
145       146       Apple       Fruit    3944 2012-08-29        Lagos
146       147       Beans  Vegetables    5761 2012-08-29         Ogun
147       148      Banana       Fruit    6864 2012-09-01        Delta
148       149      Banana       Fruit    4016 2012-09-01         Ogun
149       150      Banana       Fruit    1841 2012-09-02  Cross River
150       151      Banana       Fruit     424 2012-09-05        Benue
151       152      Banana       Fruit    8765 2012-09-07        Lagos
152       153      Banana       Fruit    5583 2012-09-08  Cross River
153       154  Water leaf  Vegetables    4390 2012-09-09        Delta
154       155  Water leaf  Vegetables     352 2012-09-09        Abuja
155       156       Apple       Fruit    8489 2012-09-11  Cross River
156       157      Banana       Fruit    7090 2012-09-11       Bauchi
157       158      Banana       Fruit    7880 2012-09-15  Cross River
158       159      Orange       Fruit    3861 2012-09-18  Cross River
159       160  Water leaf  Vegetables    7927 2012-09-19         Ogun
160       161      Banana       Fruit    6162 2012-09-20  Cross River
161       162       Mango       Fruit    5523 2012-09-25        Benue
162       163  Water leaf  Vegetables    5936 2012-09-25        Lagos
163       164     Carrots  Vegetables    7251 2012-09-26         Ogun
164       165      Orange       Fruit    6187 2012-09-27        Benue
165       166      Banana       Fruit    3210 2012-09-29         Ogun
166       167     Carrots  Vegetables     682 2012-09-29         Ogun
167       168      Banana       Fruit     793 2012-10-03        Benue
168       169     Carrots  Vegetables    5346 2012-10-04         Ogun
169       170      Banana       Fruit    7103 2012-10-07        Delta
170       171     Carrots  Vegetables    4603 2012-10-10  Cross River
171       172       Apple       Fruit    8160 2012-10-16       Bauchi
172       173       Apple       Fruit    7171 2012-10-23        Lagos
173       174      Banana       Fruit    3552 2012-10-23        Delta
174       175      Banana       Fruit    7273 2012-10-25        Benue
175       176      Banana       Fruit    2402 2012-10-26         Ogun
176       177      Banana       Fruit    1197 2012-10-26        Benue
177       178       Beans  Vegetables    5015 2012-10-26        Benue
178       179      Orange       Fruit    5818 2012-11-02  Cross River
179       180      Banana       Fruit    4399 2012-11-03        Lagos
180       181     Carrots  Vegetables    3011 2012-11-03  Cross River
181       182       Apple       Fruit    4715 2012-11-09        Lagos
182       183       Apple       Fruit    5321 2012-11-12       Bauchi
183       184      Banana       Fruit    8894 2012-11-15  Cross River
184       185     Carrots  Vegetables    4846 2012-11-25        Lagos
185       186  Water leaf  Vegetables     284 2012-11-25         Ogun
186       187      Orange       Fruit    8283 2012-11-26        Lagos
187       188      Orange       Fruit    9990 2012-11-28        Abuja
188       189      Banana       Fruit    9014 2012-11-28        Benue
189       190       Apple       Fruit    1942 2012-11-29       Bauchi
190       191      Banana       Fruit    7223 2012-11-30  Cross River
191       192     Carrots  Vegetables    4673 2012-12-02  Cross River
192       193     Carrots  Vegetables    9104 2012-12-04       Bauchi
193       194       Apple       Fruit    6078 2012-12-05  Cross River
194       195       Beans  Vegetables    3278 2012-12-06         Ogun
195       196      Banana       Fruit     136 2012-12-12        Abuja
196       197      Banana       Fruit    8377 2012-12-12        Benue
197       198      Banana       Fruit    2382 2012-12-12  Cross River
198       199      Banana       Fruit    8702 2012-12-15         Ogun
199       200      Banana       Fruit    5021 2012-12-16  Cross River
200       201       Apple       Fruit    1760 2012-12-16        Benue
201       202      Banana       Fruit    4766 2012-12-18         Ogun
202       203       Beans  Vegetables    1541 2012-12-19        Lagos
203       204      Orange       Fruit    2782 2012-12-20        Lagos
204       205       Apple       Fruit    2455 2012-12-20        Abuja
205       206       Apple       Fruit    4512 2012-12-22        Delta
206       207       Apple       Fruit    8752 2012-12-22         Ogun
207       208     Carrots  Vegetables    9127 2012-12-25  Cross River
208       209       Apple       Fruit    1777 2012-12-28       Bauchi
209       210       Beans  Vegetables     680 2012-12-28       Bauchi
210       211      Orange       Fruit     958 2012-12-29  Cross River
211       212     Carrots  Vegetables    2613 2012-12-29        Benue
212       213     Carrots  Vegetables     339 2012-12-30        Benue

In [46]:
pd.set_option("display.max_rows",None)

In [47]:
Fruit

     Order ID     Product    Category  Amount Order Date        State
0           1     Carrots  Vegetables    4270 2012-01-06  Cross River
1           2  Water leaf  Vegetables    8239 2012-01-07        Lagos
2           3      Banana       Fruit     617 2012-01-08  Cross River
3           4      Banana       Fruit    8384 2012-01-10        Abuja
4           5       Beans  Vegetables    2626 2012-01-10         Ogun
5           6      Orange       Fruit    3610 2012-01-11  Cross River
6           7  Water leaf  Vegetables    9062 2012-01-11        Benue
7           8      Banana       Fruit    6906 2012-01-16        Delta
8           9       Apple       Fruit    2417 2012-01-16       Bauchi
9          10       Apple       Fruit    7431 2012-01-16        Abuja
10         11      Banana       Fruit    8250 2012-01-16         Ogun
11         12  Water leaf  Vegetables    7012 2012-01-18  Cross River
12         13     Carrots  Vegetables    1903 2012-01-20         Ogun
13         14  Water leaf  Vegetables    2824 2012-01-22        Abuja
14         15       Apple       Fruit    6946 2012-01-24       Bauchi
15         16      Banana       Fruit    2320 2012-01-27        Lagos
16         17      Banana       Fruit    2116 2012-01-28  Cross River
17         18      Banana       Fruit    1135 2012-01-30        Lagos
18         19  Water leaf  Vegetables    3595 2012-01-30        Lagos
19         20       Apple       Fruit    1161 2012-02-02  Cross River
20         21      Orange       Fruit    2256 2012-02-04       Bauchi
21         22      Banana       Fruit    1004 2012-02-11        Delta
22         23      Banana       Fruit    3642 2012-02-14        Abuja
23         24      Banana       Fruit    4582 2012-02-17  Cross River
24         25       Beans  Vegetables    3559 2012-02-17        Lagos
25         26     Carrots  Vegetables    5154 2012-02-17        Benue
26         27       Mango       Fruit    7388 2012-02-18       Bauchi
27         28       Beans  Vegetables    7163 2012-02-18  Cross River
28         29       Beans  Vegetables    5101 2012-02-20         Ogun
29         30       Apple       Fruit    7602 2012-02-21       Bauchi
30         31       Mango       Fruit    1641 2012-02-22  Cross River
31         32       Apple       Fruit    8892 2012-02-23        Benue
32         33       Apple       Fruit    2060 2012-02-29       Bauchi
33         34  Water leaf  Vegetables    1557 2012-02-29         Ogun
34         35       Apple       Fruit    6509 2012-03-01       Bauchi
35         36       Apple       Fruit    5718 2012-03-04        Benue
36         37       Apple       Fruit    7655 2012-03-05  Cross River
37         38     Carrots  Vegetables    9116 2012-03-05        Lagos
38         39      Banana       Fruit    2795 2012-03-15  Cross River
39         40      Banana       Fruit    5084 2012-03-15  Cross River
40         41     Carrots  Vegetables    8941 2012-03-15        Lagos
41         42  Water leaf  Vegetables    5341 2012-03-16       Bauchi
42         43      Banana       Fruit     135 2012-03-19        Abuja
43         44      Banana       Fruit    9400 2012-03-19        Benue
44         45       Beans  Vegetables    6045 2012-03-21         Ogun
45         46       Apple       Fruit    5820 2012-03-22        Delta
46         47      Orange       Fruit    8887 2012-03-23         Ogun
47         48      Orange       Fruit    6982 2012-03-24  Cross River
48         49      Banana       Fruit    4029 2012-03-26        Benue
49         50     Carrots  Vegetables    3665 2012-03-26         Ogun
50         51      Banana       Fruit    4781 2012-03-29       Bauchi
51         52       Mango       Fruit    3663 2012-03-30        Benue
52         53       Apple       Fruit    6331 2012-04-01       Bauchi
53         54       Apple       Fruit    4364 2012-04-01        Abuja
54         55     Carrots  Vegetables     607 2012-04-03        Lagos
55         56      Banana       Fruit    1054 2012-04-06        Delta
56         57     Carrots  Vegetables    7659 2012-04-06  Cross River
57         58  Water leaf  Vegetables     277 2012-04-12         Ogun
58         59      Banana       Fruit     235 2012-04-17  Cross River
59         60      Orange       Fruit    1113 2012-04-18        Benue
60         61       Apple       Fruit    1128 2012-04-21  Cross River
61         62  Water leaf  Vegetables    9231 2012-04-22        Abuja
62         63      Banana       Fruit    4387 2012-04-23  Cross River
63         64       Apple       Fruit    2763 2012-04-25        Abuja
64         65      Banana       Fruit    7898 2012-04-27        Lagos
65         66      Banana       Fruit    2427 2012-04-30       Bauchi
66         67      Banana       Fruit    8663 2012-05-01        Delta
67         68     Carrots  Vegetables    2789 2012-05-01         Ogun
68         69      Banana       Fruit    4054 2012-05-02  Cross River
69         70       Mango       Fruit    2262 2012-05-02  Cross River
70         71       Mango       Fruit    5600 2012-05-02        Lagos
71         72      Banana       Fruit    5787 2012-05-03  Cross River
72         73      Orange       Fruit    6295 2012-05-03        Abuja
73         74      Banana       Fruit     474 2012-05-05         Ogun
74         75       Apple       Fruit    4325 2012-05-05       Bauchi
75         76      Banana       Fruit     592 2012-05-06  Cross River
76         77      Orange       Fruit    4330 2012-05-08  Cross River
77         78      Banana       Fruit    9405 2012-05-08        Lagos
78         79       Apple       Fruit    7671 2012-05-08       Bauchi
79         80     Carrots  Vegetables    5791 2012-05-08        Lagos
80         81      Banana       Fruit    6007 2012-05-12        Abuja
81         82      Banana       Fruit    5030 2012-05-14         Ogun
82         83     Carrots  Vegetables    6763 2012-05-14        Lagos
83         84      Banana       Fruit    4248 2012-05-15        Benue
84         85      Banana       Fruit    9543 2012-05-16       Bauchi
85         86  Water leaf  Vegetables    2054 2012-05-16        Lagos
86         87       Beans  Vegetables    7094 2012-05-16         Ogun
87         88     Carrots  Vegetables    6087 2012-05-18  Cross River
88         89       Apple       Fruit    4264 2012-05-19        Benue
89         90       Mango       Fruit    9333 2012-05-20  Cross River
90         91       Mango       Fruit    8775 2012-05-22         Ogun
91         92  Water leaf  Vegetables    2011 2012-05-23        Lagos
92         93      Banana       Fruit    5632 2012-05-25  Cross River
93         94      Banana       Fruit    4904 2012-05-25        Delta
94         95       Beans  Vegetables    1002 2012-05-25        Benue
95         96      Orange       Fruit    8141 2012-05-26        Lagos
96         97      Orange       Fruit    3644 2012-05-26        Abuja
97         98      Orange       Fruit    1380 2012-05-26        Benue
98         99  Water leaf  Vegetables    8354 2012-05-26         Ogun
99        100      Banana       Fruit    5182 2012-05-27  Cross River
100       101       Apple       Fruit    2193 2012-05-27       Bauchi
101       102       Mango       Fruit    3647 2012-05-28  Cross River
102       103       Apple       Fruit    4104 2012-05-28  Cross River
103       104     Carrots  Vegetables    7457 2012-05-28  Cross River
104       105       Mango       Fruit    3767 2012-05-29        Abuja
105       106  Water leaf  Vegetables    4685 2012-05-30         Ogun
106       107      Banana       Fruit    3917 2012-06-04  Cross River
107       108       Apple       Fruit     521 2012-06-04        Abuja
108       109       Apple       Fruit    5605 2012-06-10       Bauchi
109       110  Water leaf  Vegetables    9630 2012-06-11         Ogun
110       111      Banana       Fruit    6941 2012-06-20        Abuja
111       112  Water leaf  Vegetables    7231 2012-06-20        Lagos
112       113  Water leaf  Vegetables    8891 2012-06-23        Benue
113       114      Banana       Fruit     107 2012-06-25       Bauchi
114       115      Banana       Fruit    4243 2012-06-26  Cross River
115       116      Orange       Fruit    4514 2012-06-27  Cross River
116       117       Mango       Fruit    5480 2012-07-02  Cross River
117       118      Banana       Fruit    5002 2012-07-02       Bauchi
118       119      Banana       Fruit    8530 2012-07-05        Abuja
119       120      Orange       Fruit    4819 2012-07-07        Delta
120       121  Water leaf  Vegetables    6343 2012-07-11        Lagos
121       122      Orange       Fruit    2318 2012-07-13        Lagos
122       123      Orange       Fruit     220 2012-07-20        Lagos
123       124      Orange       Fruit    6341 2012-07-20        Delta
124       125       Apple       Fruit     330 2012-07-20         Ogun
125       126  Water leaf  Vegetables    3027 2012-07-20        Lagos
126       127      Orange       Fruit     850 2012-07-22        Delta
127       128      Banana       Fruit    8986 2012-07-23        Lagos
128       129  Water leaf  Vegetables    3800 2012-07-25  Cross River
129       130     Carrots  Vegetables    5751 2012-07-28        Lagos
130       131       Apple       Fruit    1704 2012-07-29        Lagos
131       132      Banana       Fruit    7966 2012-07-30        Benue
132       133      Banana       Fruit     852 2012-07-31  Cross River
133       134       Beans  Vegetables    8416 2012-07-31        Benue
134       135      Banana       Fruit    7144 2012-08-01       Bauchi
135       136  Water leaf  Vegetables    7854 2012-08-01  Cross River
136       137      Orange       Fruit     859 2012-08-03  Cross River
137       138  Water leaf  Vegetables    8049 2012-08-12  Cross River
138       139      Banana       Fruit    2836 2012-08-13         Ogun
139       140     Carrots  Vegetables    1743 2012-08-19  Cross River
140       141       Apple       Fruit    3844 2012-08-23       Bauchi
141       142       Apple       Fruit    7490 2012-08-24       Bauchi
142       143  Water leaf  Vegetables    4483 2012-08-25         Ogun
143       144       Apple       Fruit    7333 2012-08-27        Abuja
144       145     Carrots  Vegetables    7654 2012-08-28  Cross River
145       146       Apple       Fruit    3944 2012-08-29        Lagos
146       147       Beans  Vegetables    5761 2012-08-29         Ogun
147       148      Banana       Fruit    6864 2012-09-01        Delta
148       149      Banana       Fruit    4016 2012-09-01         Ogun
149       150      Banana       Fruit    1841 2012-09-02  Cross River
150       151      Banana       Fruit     424 2012-09-05        Benue
151       152      Banana       Fruit    8765 2012-09-07        Lagos
152       153      Banana       Fruit    5583 2012-09-08  Cross River
153       154  Water leaf  Vegetables    4390 2012-09-09        Delta
154       155  Water leaf  Vegetables     352 2012-09-09        Abuja
155       156       Apple       Fruit    8489 2012-09-11  Cross River
156       157      Banana       Fruit    7090 2012-09-11       Bauchi
157       158      Banana       Fruit    7880 2012-09-15  Cross River
158       159      Orange       Fruit    3861 2012-09-18  Cross River
159       160  Water leaf  Vegetables    7927 2012-09-19         Ogun
160       161      Banana       Fruit    6162 2012-09-20  Cross River
161       162       Mango       Fruit    5523 2012-09-25        Benue
162       163  Water leaf  Vegetables    5936 2012-09-25        Lagos
163       164     Carrots  Vegetables    7251 2012-09-26         Ogun
164       165      Orange       Fruit    6187 2012-09-27        Benue
165       166      Banana       Fruit    3210 2012-09-29         Ogun
166       167     Carrots  Vegetables     682 2012-09-29         Ogun
167       168      Banana       Fruit     793 2012-10-03        Benue
168       169     Carrots  Vegetables    5346 2012-10-04         Ogun
169       170      Banana       Fruit    7103 2012-10-07        Delta
170       171     Carrots  Vegetables    4603 2012-10-10  Cross River
171       172       Apple       Fruit    8160 2012-10-16       Bauchi
172       173       Apple       Fruit    7171 2012-10-23        Lagos
173       174      Banana       Fruit    3552 2012-10-23        Delta
174       175      Banana       Fruit    7273 2012-10-25        Benue
175       176      Banana       Fruit    2402 2012-10-26         Ogun
176       177      Banana       Fruit    1197 2012-10-26        Benue
177       178       Beans  Vegetables    5015 2012-10-26        Benue
178       179      Orange       Fruit    5818 2012-11-02  Cross River
179       180      Banana       Fruit    4399 2012-11-03        Lagos
180       181     Carrots  Vegetables    3011 2012-11-03  Cross River
181       182       Apple       Fruit    4715 2012-11-09        Lagos
182       183       Apple       Fruit    5321 2012-11-12       Bauchi
183       184      Banana       Fruit    8894 2012-11-15  Cross River
184       185     Carrots  Vegetables    4846 2012-11-25        Lagos
185       186  Water leaf  Vegetables     284 2012-11-25         Ogun
186       187      Orange       Fruit    8283 2012-11-26        Lagos
187       188      Orange       Fruit    9990 2012-11-28        Abuja
188       189      Banana       Fruit    9014 2012-11-28        Benue
189       190       Apple       Fruit    1942 2012-11-29       Bauchi
190       191      Banana       Fruit    7223 2012-11-30  Cross River
191       192     Carrots  Vegetables    4673 2012-12-02  Cross River
192       193     Carrots  Vegetables    9104 2012-12-04       Bauchi
193       194       Apple       Fruit    6078 2012-12-05  Cross River
194       195       Beans  Vegetables    3278 2012-12-06         Ogun
195       196      Banana       Fruit     136 2012-12-12        Abuja
196       197      Banana       Fruit    8377 2012-12-12        Benue
197       198      Banana       Fruit    2382 2012-12-12  Cross River
198       199      Banana       Fruit    8702 2012-12-15         Ogun
199       200      Banana       Fruit    5021 2012-12-16  Cross River
200       201       Apple       Fruit    1760 2012-12-16        Benue
201       202      Banana       Fruit    4766 2012-12-18         Ogun
202       203       Beans  Vegetables    1541 2012-12-19        Lagos
203       204      Orange       Fruit    2782 2012-12-20        Lagos
204       205       Apple       Fruit    2455 2012-12-20        Abuja
205       206       Apple       Fruit    4512 2012-12-22        Delta
206       207       Apple       Fruit    8752 2012-12-22         Ogun
207       208     Carrots  Vegetables    9127 2012-12-25  Cross River
208       209       Apple       Fruit    1777 2012-12-28       Bauchi
209       210       Beans  Vegetables     680 2012-12-28       Bauchi
210       211      Orange       Fruit     958 2012-12-29  Cross River
211       212     Carrots  Vegetables    2613 2012-12-29        Benue
212       213     Carrots  Vegetables     339 2012-12-30        Benue

In [48]:
Fruit["Product"]

0         Carrots
1      Water leaf
2          Banana
3          Banana
4           Beans
5          Orange
6      Water leaf
7          Banana
8           Apple
9           Apple
10         Banana
11     Water leaf
12        Carrots
13     Water leaf
14          Apple
15         Banana
16         Banana
17         Banana
18     Water leaf
19          Apple
20         Orange
21         Banana
22         Banana
23         Banana
24          Beans
25        Carrots
26          Mango
27          Beans
28          Beans
29          Apple
30          Mango
31          Apple
32          Apple
33     Water leaf
34          Apple
35          Apple
36          Apple
37        Carrots
38         Banana
39         Banana
40        Carrots
41     Water leaf
42         Banana
43         Banana
44          Beans
45          Apple
46         Orange
47         Orange
48         Banana
49        Carrots
50         Banana
51          Mango
52          Apple
53          Apple
54        Carrots
55         Banana
56        Carrots
57     Water leaf
58         Banana
59         Orange
60          Apple
61     Water leaf
62         Banana
63          Apple
64         Banana
65         Banana
66         Banana
67        Carrots
68         Banana
69          Mango
70          Mango
71         Banana
72         Orange
73         Banana
74          Apple
75         Banana
76         Orange
77         Banana
78          Apple
79        Carrots
80         Banana
81         Banana
82        Carrots
83         Banana
84         Banana
85     Water leaf
86          Beans
87        Carrots
88          Apple
89          Mango
90          Mango
91     Water leaf
92         Banana
93         Banana
94          Beans
95         Orange
96         Orange
97         Orange
98     Water leaf
99         Banana
100         Apple
101         Mango
102         Apple
103       Carrots
104         Mango
105    Water leaf
106        Banana
107         Apple
108         Apple
109    Water leaf
110        Banana
111    Water leaf
112    Water leaf
113        Banana
114        Banana
115        Orange
116         Mango
117        Banana
118        Banana
119        Orange
120    Water leaf
121        Orange
122        Orange
123        Orange
124         Apple
125    Water leaf
126        Orange
127        Banana
128    Water leaf
129       Carrots
130         Apple
131        Banana
132        Banana
133         Beans
134        Banana
135    Water leaf
136        Orange
137    Water leaf
138        Banana
139       Carrots
140         Apple
141         Apple
142    Water leaf
143         Apple
144       Carrots
145         Apple
146         Beans
147        Banana
148        Banana
149        Banana
150        Banana
151        Banana
152        Banana
153    Water leaf
154    Water leaf
155         Apple
156        Banana
157        Banana
158        Orange
159    Water leaf
160        Banana
161         Mango
162    Water leaf
163       Carrots
164        Orange
165        Banana
166       Carrots
167        Banana
168       Carrots
169        Banana
170       Carrots
171         Apple
172         Apple
173        Banana
174        Banana
175        Banana
176        Banana
177         Beans
178        Orange
179        Banana
180       Carrots
181         Apple
182         Apple
183        Banana
184       Carrots
185    Water leaf
186        Orange
187        Orange
188        Banana
189         Apple
190        Banana
191       Carrots
192       Carrots
193         Apple
194         Beans
195        Banana
196        Banana
197        Banana
198        Banana
199        Banana
200         Apple
201        Banana
202         Beans
203        Orange
204         Apple
205         Apple
206         Apple
207       Carrots
208         Apple
209         Beans
210        Orange
211       Carrots
212       Carrots
Name: Product, dtype: object

In [49]:
#how many fruits do we have?

Fruit["Product"].unique()

array(['Carrots', 'Water leaf', 'Banana', 'Beans', 'Orange', 'Apple',
       'Mango'], dtype=object)

In [50]:
len(Fruit["Product"].unique())

7

In [51]:
#what fruit appears the most in the table

Fruit["Product"].value_counts()

#counts the number of times that the item/value appears in the column

Banana        71
Apple         40
Carrots       27
Water leaf    27
Orange        24
Beans         13
Mango         11
Name: Product, dtype: int64

In [52]:
len(Fruit["State"].unique())

7

In [53]:
Fruit["State"].value_counts()

Cross River    57
Lagos          34
Ogun           33
Bauchi         28
Benue          27
Abuja          20
Delta          14
Name: State, dtype: int64

In [54]:
Fruit["State"].unique()

array(['Cross River', 'Lagos', 'Abuja', 'Ogun', 'Benue', 'Delta',
       'Bauchi'], dtype=object)

In [73]:
#total sum of amount

Fruit["State"].unique()
Fruit["Amount"].sum(axis=0)

1029734

In [56]:
Fruit

     Order ID     Product    Category  Amount Order Date        State
0           1     Carrots  Vegetables    4270 2012-01-06  Cross River
1           2  Water leaf  Vegetables    8239 2012-01-07        Lagos
2           3      Banana       Fruit     617 2012-01-08  Cross River
3           4      Banana       Fruit    8384 2012-01-10        Abuja
4           5       Beans  Vegetables    2626 2012-01-10         Ogun
5           6      Orange       Fruit    3610 2012-01-11  Cross River
6           7  Water leaf  Vegetables    9062 2012-01-11        Benue
7           8      Banana       Fruit    6906 2012-01-16        Delta
8           9       Apple       Fruit    2417 2012-01-16       Bauchi
9          10       Apple       Fruit    7431 2012-01-16        Abuja
10         11      Banana       Fruit    8250 2012-01-16         Ogun
11         12  Water leaf  Vegetables    7012 2012-01-18  Cross River
12         13     Carrots  Vegetables    1903 2012-01-20         Ogun
13         14  Water leaf  Vegetables    2824 2012-01-22        Abuja
14         15       Apple       Fruit    6946 2012-01-24       Bauchi
15         16      Banana       Fruit    2320 2012-01-27        Lagos
16         17      Banana       Fruit    2116 2012-01-28  Cross River
17         18      Banana       Fruit    1135 2012-01-30        Lagos
18         19  Water leaf  Vegetables    3595 2012-01-30        Lagos
19         20       Apple       Fruit    1161 2012-02-02  Cross River
20         21      Orange       Fruit    2256 2012-02-04       Bauchi
21         22      Banana       Fruit    1004 2012-02-11        Delta
22         23      Banana       Fruit    3642 2012-02-14        Abuja
23         24      Banana       Fruit    4582 2012-02-17  Cross River
24         25       Beans  Vegetables    3559 2012-02-17        Lagos
25         26     Carrots  Vegetables    5154 2012-02-17        Benue
26         27       Mango       Fruit    7388 2012-02-18       Bauchi
27         28       Beans  Vegetables    7163 2012-02-18  Cross River
28         29       Beans  Vegetables    5101 2012-02-20         Ogun
29         30       Apple       Fruit    7602 2012-02-21       Bauchi
30         31       Mango       Fruit    1641 2012-02-22  Cross River
31         32       Apple       Fruit    8892 2012-02-23        Benue
32         33       Apple       Fruit    2060 2012-02-29       Bauchi
33         34  Water leaf  Vegetables    1557 2012-02-29         Ogun
34         35       Apple       Fruit    6509 2012-03-01       Bauchi
35         36       Apple       Fruit    5718 2012-03-04        Benue
36         37       Apple       Fruit    7655 2012-03-05  Cross River
37         38     Carrots  Vegetables    9116 2012-03-05        Lagos
38         39      Banana       Fruit    2795 2012-03-15  Cross River
39         40      Banana       Fruit    5084 2012-03-15  Cross River
40         41     Carrots  Vegetables    8941 2012-03-15        Lagos
41         42  Water leaf  Vegetables    5341 2012-03-16       Bauchi
42         43      Banana       Fruit     135 2012-03-19        Abuja
43         44      Banana       Fruit    9400 2012-03-19        Benue
44         45       Beans  Vegetables    6045 2012-03-21         Ogun
45         46       Apple       Fruit    5820 2012-03-22        Delta
46         47      Orange       Fruit    8887 2012-03-23         Ogun
47         48      Orange       Fruit    6982 2012-03-24  Cross River
48         49      Banana       Fruit    4029 2012-03-26        Benue
49         50     Carrots  Vegetables    3665 2012-03-26         Ogun
50         51      Banana       Fruit    4781 2012-03-29       Bauchi
51         52       Mango       Fruit    3663 2012-03-30        Benue
52         53       Apple       Fruit    6331 2012-04-01       Bauchi
53         54       Apple       Fruit    4364 2012-04-01        Abuja
54         55     Carrots  Vegetables     607 2012-04-03        Lagos
55         56      Banana       Fruit    1054 2012-04-06        Delta
56         57     Carrots  Vegetables    7659 2012-04-06  Cross River
57         58  Water leaf  Vegetables     277 2012-04-12         Ogun
58         59      Banana       Fruit     235 2012-04-17  Cross River
59         60      Orange       Fruit    1113 2012-04-18        Benue
60         61       Apple       Fruit    1128 2012-04-21  Cross River
61         62  Water leaf  Vegetables    9231 2012-04-22        Abuja
62         63      Banana       Fruit    4387 2012-04-23  Cross River
63         64       Apple       Fruit    2763 2012-04-25        Abuja
64         65      Banana       Fruit    7898 2012-04-27        Lagos
65         66      Banana       Fruit    2427 2012-04-30       Bauchi
66         67      Banana       Fruit    8663 2012-05-01        Delta
67         68     Carrots  Vegetables    2789 2012-05-01         Ogun
68         69      Banana       Fruit    4054 2012-05-02  Cross River
69         70       Mango       Fruit    2262 2012-05-02  Cross River
70         71       Mango       Fruit    5600 2012-05-02        Lagos
71         72      Banana       Fruit    5787 2012-05-03  Cross River
72         73      Orange       Fruit    6295 2012-05-03        Abuja
73         74      Banana       Fruit     474 2012-05-05         Ogun
74         75       Apple       Fruit    4325 2012-05-05       Bauchi
75         76      Banana       Fruit     592 2012-05-06  Cross River
76         77      Orange       Fruit    4330 2012-05-08  Cross River
77         78      Banana       Fruit    9405 2012-05-08        Lagos
78         79       Apple       Fruit    7671 2012-05-08       Bauchi
79         80     Carrots  Vegetables    5791 2012-05-08        Lagos
80         81      Banana       Fruit    6007 2012-05-12        Abuja
81         82      Banana       Fruit    5030 2012-05-14         Ogun
82         83     Carrots  Vegetables    6763 2012-05-14        Lagos
83         84      Banana       Fruit    4248 2012-05-15        Benue
84         85      Banana       Fruit    9543 2012-05-16       Bauchi
85         86  Water leaf  Vegetables    2054 2012-05-16        Lagos
86         87       Beans  Vegetables    7094 2012-05-16         Ogun
87         88     Carrots  Vegetables    6087 2012-05-18  Cross River
88         89       Apple       Fruit    4264 2012-05-19        Benue
89         90       Mango       Fruit    9333 2012-05-20  Cross River
90         91       Mango       Fruit    8775 2012-05-22         Ogun
91         92  Water leaf  Vegetables    2011 2012-05-23        Lagos
92         93      Banana       Fruit    5632 2012-05-25  Cross River
93         94      Banana       Fruit    4904 2012-05-25        Delta
94         95       Beans  Vegetables    1002 2012-05-25        Benue
95         96      Orange       Fruit    8141 2012-05-26        Lagos
96         97      Orange       Fruit    3644 2012-05-26        Abuja
97         98      Orange       Fruit    1380 2012-05-26        Benue
98         99  Water leaf  Vegetables    8354 2012-05-26         Ogun
99        100      Banana       Fruit    5182 2012-05-27  Cross River
100       101       Apple       Fruit    2193 2012-05-27       Bauchi
101       102       Mango       Fruit    3647 2012-05-28  Cross River
102       103       Apple       Fruit    4104 2012-05-28  Cross River
103       104     Carrots  Vegetables    7457 2012-05-28  Cross River
104       105       Mango       Fruit    3767 2012-05-29        Abuja
105       106  Water leaf  Vegetables    4685 2012-05-30         Ogun
106       107      Banana       Fruit    3917 2012-06-04  Cross River
107       108       Apple       Fruit     521 2012-06-04        Abuja
108       109       Apple       Fruit    5605 2012-06-10       Bauchi
109       110  Water leaf  Vegetables    9630 2012-06-11         Ogun
110       111      Banana       Fruit    6941 2012-06-20        Abuja
111       112  Water leaf  Vegetables    7231 2012-06-20        Lagos
112       113  Water leaf  Vegetables    8891 2012-06-23        Benue
113       114      Banana       Fruit     107 2012-06-25       Bauchi
114       115      Banana       Fruit    4243 2012-06-26  Cross River
115       116      Orange       Fruit    4514 2012-06-27  Cross River
116       117       Mango       Fruit    5480 2012-07-02  Cross River
117       118      Banana       Fruit    5002 2012-07-02       Bauchi
118       119      Banana       Fruit    8530 2012-07-05        Abuja
119       120      Orange       Fruit    4819 2012-07-07        Delta
120       121  Water leaf  Vegetables    6343 2012-07-11        Lagos
121       122      Orange       Fruit    2318 2012-07-13        Lagos
122       123      Orange       Fruit     220 2012-07-20        Lagos
123       124      Orange       Fruit    6341 2012-07-20        Delta
124       125       Apple       Fruit     330 2012-07-20         Ogun
125       126  Water leaf  Vegetables    3027 2012-07-20        Lagos
126       127      Orange       Fruit     850 2012-07-22        Delta
127       128      Banana       Fruit    8986 2012-07-23        Lagos
128       129  Water leaf  Vegetables    3800 2012-07-25  Cross River
129       130     Carrots  Vegetables    5751 2012-07-28        Lagos
130       131       Apple       Fruit    1704 2012-07-29        Lagos
131       132      Banana       Fruit    7966 2012-07-30        Benue
132       133      Banana       Fruit     852 2012-07-31  Cross River
133       134       Beans  Vegetables    8416 2012-07-31        Benue
134       135      Banana       Fruit    7144 2012-08-01       Bauchi
135       136  Water leaf  Vegetables    7854 2012-08-01  Cross River
136       137      Orange       Fruit     859 2012-08-03  Cross River
137       138  Water leaf  Vegetables    8049 2012-08-12  Cross River
138       139      Banana       Fruit    2836 2012-08-13         Ogun
139       140     Carrots  Vegetables    1743 2012-08-19  Cross River
140       141       Apple       Fruit    3844 2012-08-23       Bauchi
141       142       Apple       Fruit    7490 2012-08-24       Bauchi
142       143  Water leaf  Vegetables    4483 2012-08-25         Ogun
143       144       Apple       Fruit    7333 2012-08-27        Abuja
144       145     Carrots  Vegetables    7654 2012-08-28  Cross River
145       146       Apple       Fruit    3944 2012-08-29        Lagos
146       147       Beans  Vegetables    5761 2012-08-29         Ogun
147       148      Banana       Fruit    6864 2012-09-01        Delta
148       149      Banana       Fruit    4016 2012-09-01         Ogun
149       150      Banana       Fruit    1841 2012-09-02  Cross River
150       151      Banana       Fruit     424 2012-09-05        Benue
151       152      Banana       Fruit    8765 2012-09-07        Lagos
152       153      Banana       Fruit    5583 2012-09-08  Cross River
153       154  Water leaf  Vegetables    4390 2012-09-09        Delta
154       155  Water leaf  Vegetables     352 2012-09-09        Abuja
155       156       Apple       Fruit    8489 2012-09-11  Cross River
156       157      Banana       Fruit    7090 2012-09-11       Bauchi
157       158      Banana       Fruit    7880 2012-09-15  Cross River
158       159      Orange       Fruit    3861 2012-09-18  Cross River
159       160  Water leaf  Vegetables    7927 2012-09-19         Ogun
160       161      Banana       Fruit    6162 2012-09-20  Cross River
161       162       Mango       Fruit    5523 2012-09-25        Benue
162       163  Water leaf  Vegetables    5936 2012-09-25        Lagos
163       164     Carrots  Vegetables    7251 2012-09-26         Ogun
164       165      Orange       Fruit    6187 2012-09-27        Benue
165       166      Banana       Fruit    3210 2012-09-29         Ogun
166       167     Carrots  Vegetables     682 2012-09-29         Ogun
167       168      Banana       Fruit     793 2012-10-03        Benue
168       169     Carrots  Vegetables    5346 2012-10-04         Ogun
169       170      Banana       Fruit    7103 2012-10-07        Delta
170       171     Carrots  Vegetables    4603 2012-10-10  Cross River
171       172       Apple       Fruit    8160 2012-10-16       Bauchi
172       173       Apple       Fruit    7171 2012-10-23        Lagos
173       174      Banana       Fruit    3552 2012-10-23        Delta
174       175      Banana       Fruit    7273 2012-10-25        Benue
175       176      Banana       Fruit    2402 2012-10-26         Ogun
176       177      Banana       Fruit    1197 2012-10-26        Benue
177       178       Beans  Vegetables    5015 2012-10-26        Benue
178       179      Orange       Fruit    5818 2012-11-02  Cross River
179       180      Banana       Fruit    4399 2012-11-03        Lagos
180       181     Carrots  Vegetables    3011 2012-11-03  Cross River
181       182       Apple       Fruit    4715 2012-11-09        Lagos
182       183       Apple       Fruit    5321 2012-11-12       Bauchi
183       184      Banana       Fruit    8894 2012-11-15  Cross River
184       185     Carrots  Vegetables    4846 2012-11-25        Lagos
185       186  Water leaf  Vegetables     284 2012-11-25         Ogun
186       187      Orange       Fruit    8283 2012-11-26        Lagos
187       188      Orange       Fruit    9990 2012-11-28        Abuja
188       189      Banana       Fruit    9014 2012-11-28        Benue
189       190       Apple       Fruit    1942 2012-11-29       Bauchi
190       191      Banana       Fruit    7223 2012-11-30  Cross River
191       192     Carrots  Vegetables    4673 2012-12-02  Cross River
192       193     Carrots  Vegetables    9104 2012-12-04       Bauchi
193       194       Apple       Fruit    6078 2012-12-05  Cross River
194       195       Beans  Vegetables    3278 2012-12-06         Ogun
195       196      Banana       Fruit     136 2012-12-12        Abuja
196       197      Banana       Fruit    8377 2012-12-12        Benue
197       198      Banana       Fruit    2382 2012-12-12  Cross River
198       199      Banana       Fruit    8702 2012-12-15         Ogun
199       200      Banana       Fruit    5021 2012-12-16  Cross River
200       201       Apple       Fruit    1760 2012-12-16        Benue
201       202      Banana       Fruit    4766 2012-12-18         Ogun
202       203       Beans  Vegetables    1541 2012-12-19        Lagos
203       204      Orange       Fruit    2782 2012-12-20        Lagos
204       205       Apple       Fruit    2455 2012-12-20        Abuja
205       206       Apple       Fruit    4512 2012-12-22        Delta
206       207       Apple       Fruit    8752 2012-12-22         Ogun
207       208     Carrots  Vegetables    9127 2012-12-25  Cross River
208       209       Apple       Fruit    1777 2012-12-28       Bauchi
209       210       Beans  Vegetables     680 2012-12-28       Bauchi
210       211      Orange       Fruit     958 2012-12-29  Cross River
211       212     Carrots  Vegetables    2613 2012-12-29        Benue
212       213     Carrots  Vegetables     339 2012-12-30        Benue

In [57]:
#delete the order ID column

Fruit.pop("Order ID")

0        1
1        2
2        3
3        4
4        5
5        6
6        7
7        8
8        9
9       10
10      11
11      12
12      13
13      14
14      15
15      16
16      17
17      18
18      19
19      20
20      21
21      22
22      23
23      24
24      25
25      26
26      27
27      28
28      29
29      30
30      31
31      32
32      33
33      34
34      35
35      36
36      37
37      38
38      39
39      40
40      41
41      42
42      43
43      44
44      45
45      46
46      47
47      48
48      49
49      50
50      51
51      52
52      53
53      54
54      55
55      56
56      57
57      58
58      59
59      60
60      61
61      62
62      63
63      64
64      65
65      66
66      67
67      68
68      69
69      70
70      71
71      72
72      73
73      74
74      75
75      76
76      77
77      78
78      79
79      80
80      81
81      82
82      83
83      84
84      85
85      86
86      87
87      88
88      89
89      90
90      91
91      92
92      93
93      94
94      95
95      96
96      97
97      98
98      99
99     100
100    101
101    102
102    103
103    104
104    105
105    106
106    107
107    108
108    109
109    110
110    111
111    112
112    113
113    114
114    115
115    116
116    117
117    118
118    119
119    120
120    121
121    122
122    123
123    124
124    125
125    126
126    127
127    128
128    129
129    130
130    131
131    132
132    133
133    134
134    135
135    136
136    137
137    138
138    139
139    140
140    141
141    142
142    143
143    144
144    145
145    146
146    147
147    148
148    149
149    150
150    151
151    152
152    153
153    154
154    155
155    156
156    157
157    158
158    159
159    160
160    161
161    162
162    163
163    164
164    165
165    166
166    167
167    168
168    169
169    170
170    171
171    172
172    173
173    174
174    175
175    176
176    177
177    178
178    179
179    180
180    181
181    182
182    183
183    184
184    185
185    186
186    187
187    188
188    189
189    190
190    191
191    192
192    193
193    194
194    195
195    196
196    197
197    198
198    199
199    200
200    201
201    202
202    203
203    204
204    205
205    206
206    207
207    208
208    209
209    210
210    211
211    212
212    213
Name: Order ID, dtype: int64

In [58]:
Fruit

        Product    Category  Amount Order Date        State
0       Carrots  Vegetables    4270 2012-01-06  Cross River
1    Water leaf  Vegetables    8239 2012-01-07        Lagos
2        Banana       Fruit     617 2012-01-08  Cross River
3        Banana       Fruit    8384 2012-01-10        Abuja
4         Beans  Vegetables    2626 2012-01-10         Ogun
5        Orange       Fruit    3610 2012-01-11  Cross River
6    Water leaf  Vegetables    9062 2012-01-11        Benue
7        Banana       Fruit    6906 2012-01-16        Delta
8         Apple       Fruit    2417 2012-01-16       Bauchi
9         Apple       Fruit    7431 2012-01-16        Abuja
10       Banana       Fruit    8250 2012-01-16         Ogun
11   Water leaf  Vegetables    7012 2012-01-18  Cross River
12      Carrots  Vegetables    1903 2012-01-20         Ogun
13   Water leaf  Vegetables    2824 2012-01-22        Abuja
14        Apple       Fruit    6946 2012-01-24       Bauchi
15       Banana       Fruit    2320 2012-01-27        Lagos
16       Banana       Fruit    2116 2012-01-28  Cross River
17       Banana       Fruit    1135 2012-01-30        Lagos
18   Water leaf  Vegetables    3595 2012-01-30        Lagos
19        Apple       Fruit    1161 2012-02-02  Cross River
20       Orange       Fruit    2256 2012-02-04       Bauchi
21       Banana       Fruit    1004 2012-02-11        Delta
22       Banana       Fruit    3642 2012-02-14        Abuja
23       Banana       Fruit    4582 2012-02-17  Cross River
24        Beans  Vegetables    3559 2012-02-17        Lagos
25      Carrots  Vegetables    5154 2012-02-17        Benue
26        Mango       Fruit    7388 2012-02-18       Bauchi
27        Beans  Vegetables    7163 2012-02-18  Cross River
28        Beans  Vegetables    5101 2012-02-20         Ogun
29        Apple       Fruit    7602 2012-02-21       Bauchi
30        Mango       Fruit    1641 2012-02-22  Cross River
31        Apple       Fruit    8892 2012-02-23        Benue
32        Apple       Fruit    2060 2012-02-29       Bauchi
33   Water leaf  Vegetables    1557 2012-02-29         Ogun
34        Apple       Fruit    6509 2012-03-01       Bauchi
35        Apple       Fruit    5718 2012-03-04        Benue
36        Apple       Fruit    7655 2012-03-05  Cross River
37      Carrots  Vegetables    9116 2012-03-05        Lagos
38       Banana       Fruit    2795 2012-03-15  Cross River
39       Banana       Fruit    5084 2012-03-15  Cross River
40      Carrots  Vegetables    8941 2012-03-15        Lagos
41   Water leaf  Vegetables    5341 2012-03-16       Bauchi
42       Banana       Fruit     135 2012-03-19        Abuja
43       Banana       Fruit    9400 2012-03-19        Benue
44        Beans  Vegetables    6045 2012-03-21         Ogun
45        Apple       Fruit    5820 2012-03-22        Delta
46       Orange       Fruit    8887 2012-03-23         Ogun
47       Orange       Fruit    6982 2012-03-24  Cross River
48       Banana       Fruit    4029 2012-03-26        Benue
49      Carrots  Vegetables    3665 2012-03-26         Ogun
50       Banana       Fruit    4781 2012-03-29       Bauchi
51        Mango       Fruit    3663 2012-03-30        Benue
52        Apple       Fruit    6331 2012-04-01       Bauchi
53        Apple       Fruit    4364 2012-04-01        Abuja
54      Carrots  Vegetables     607 2012-04-03        Lagos
55       Banana       Fruit    1054 2012-04-06        Delta
56      Carrots  Vegetables    7659 2012-04-06  Cross River
57   Water leaf  Vegetables     277 2012-04-12         Ogun
58       Banana       Fruit     235 2012-04-17  Cross River
59       Orange       Fruit    1113 2012-04-18        Benue
60        Apple       Fruit    1128 2012-04-21  Cross River
61   Water leaf  Vegetables    9231 2012-04-22        Abuja
62       Banana       Fruit    4387 2012-04-23  Cross River
63        Apple       Fruit    2763 2012-04-25        Abuja
64       Banana       Fruit    7898 2012-04-27        Lagos
65       Banana       Fruit    2427 2012-04-30       Bauchi
66       Banana       Fruit    8663 2012-05-01        Delta
67      Carrots  Vegetables    2789 2012-05-01         Ogun
68       Banana       Fruit    4054 2012-05-02  Cross River
69        Mango       Fruit    2262 2012-05-02  Cross River
70        Mango       Fruit    5600 2012-05-02        Lagos
71       Banana       Fruit    5787 2012-05-03  Cross River
72       Orange       Fruit    6295 2012-05-03        Abuja
73       Banana       Fruit     474 2012-05-05         Ogun
74        Apple       Fruit    4325 2012-05-05       Bauchi
75       Banana       Fruit     592 2012-05-06  Cross River
76       Orange       Fruit    4330 2012-05-08  Cross River
77       Banana       Fruit    9405 2012-05-08        Lagos
78        Apple       Fruit    7671 2012-05-08       Bauchi
79      Carrots  Vegetables    5791 2012-05-08        Lagos
80       Banana       Fruit    6007 2012-05-12        Abuja
81       Banana       Fruit    5030 2012-05-14         Ogun
82      Carrots  Vegetables    6763 2012-05-14        Lagos
83       Banana       Fruit    4248 2012-05-15        Benue
84       Banana       Fruit    9543 2012-05-16       Bauchi
85   Water leaf  Vegetables    2054 2012-05-16        Lagos
86        Beans  Vegetables    7094 2012-05-16         Ogun
87      Carrots  Vegetables    6087 2012-05-18  Cross River
88        Apple       Fruit    4264 2012-05-19        Benue
89        Mango       Fruit    9333 2012-05-20  Cross River
90        Mango       Fruit    8775 2012-05-22         Ogun
91   Water leaf  Vegetables    2011 2012-05-23        Lagos
92       Banana       Fruit    5632 2012-05-25  Cross River
93       Banana       Fruit    4904 2012-05-25        Delta
94        Beans  Vegetables    1002 2012-05-25        Benue
95       Orange       Fruit    8141 2012-05-26        Lagos
96       Orange       Fruit    3644 2012-05-26        Abuja
97       Orange       Fruit    1380 2012-05-26        Benue
98   Water leaf  Vegetables    8354 2012-05-26         Ogun
99       Banana       Fruit    5182 2012-05-27  Cross River
100       Apple       Fruit    2193 2012-05-27       Bauchi
101       Mango       Fruit    3647 2012-05-28  Cross River
102       Apple       Fruit    4104 2012-05-28  Cross River
103     Carrots  Vegetables    7457 2012-05-28  Cross River
104       Mango       Fruit    3767 2012-05-29        Abuja
105  Water leaf  Vegetables    4685 2012-05-30         Ogun
106      Banana       Fruit    3917 2012-06-04  Cross River
107       Apple       Fruit     521 2012-06-04        Abuja
108       Apple       Fruit    5605 2012-06-10       Bauchi
109  Water leaf  Vegetables    9630 2012-06-11         Ogun
110      Banana       Fruit    6941 2012-06-20        Abuja
111  Water leaf  Vegetables    7231 2012-06-20        Lagos
112  Water leaf  Vegetables    8891 2012-06-23        Benue
113      Banana       Fruit     107 2012-06-25       Bauchi
114      Banana       Fruit    4243 2012-06-26  Cross River
115      Orange       Fruit    4514 2012-06-27  Cross River
116       Mango       Fruit    5480 2012-07-02  Cross River
117      Banana       Fruit    5002 2012-07-02       Bauchi
118      Banana       Fruit    8530 2012-07-05        Abuja
119      Orange       Fruit    4819 2012-07-07        Delta
120  Water leaf  Vegetables    6343 2012-07-11        Lagos
121      Orange       Fruit    2318 2012-07-13        Lagos
122      Orange       Fruit     220 2012-07-20        Lagos
123      Orange       Fruit    6341 2012-07-20        Delta
124       Apple       Fruit     330 2012-07-20         Ogun
125  Water leaf  Vegetables    3027 2012-07-20        Lagos
126      Orange       Fruit     850 2012-07-22        Delta
127      Banana       Fruit    8986 2012-07-23        Lagos
128  Water leaf  Vegetables    3800 2012-07-25  Cross River
129     Carrots  Vegetables    5751 2012-07-28        Lagos
130       Apple       Fruit    1704 2012-07-29        Lagos
131      Banana       Fruit    7966 2012-07-30        Benue
132      Banana       Fruit     852 2012-07-31  Cross River
133       Beans  Vegetables    8416 2012-07-31        Benue
134      Banana       Fruit    7144 2012-08-01       Bauchi
135  Water leaf  Vegetables    7854 2012-08-01  Cross River
136      Orange       Fruit     859 2012-08-03  Cross River
137  Water leaf  Vegetables    8049 2012-08-12  Cross River
138      Banana       Fruit    2836 2012-08-13         Ogun
139     Carrots  Vegetables    1743 2012-08-19  Cross River
140       Apple       Fruit    3844 2012-08-23       Bauchi
141       Apple       Fruit    7490 2012-08-24       Bauchi
142  Water leaf  Vegetables    4483 2012-08-25         Ogun
143       Apple       Fruit    7333 2012-08-27        Abuja
144     Carrots  Vegetables    7654 2012-08-28  Cross River
145       Apple       Fruit    3944 2012-08-29        Lagos
146       Beans  Vegetables    5761 2012-08-29         Ogun
147      Banana       Fruit    6864 2012-09-01        Delta
148      Banana       Fruit    4016 2012-09-01         Ogun
149      Banana       Fruit    1841 2012-09-02  Cross River
150      Banana       Fruit     424 2012-09-05        Benue
151      Banana       Fruit    8765 2012-09-07        Lagos
152      Banana       Fruit    5583 2012-09-08  Cross River
153  Water leaf  Vegetables    4390 2012-09-09        Delta
154  Water leaf  Vegetables     352 2012-09-09        Abuja
155       Apple       Fruit    8489 2012-09-11  Cross River
156      Banana       Fruit    7090 2012-09-11       Bauchi
157      Banana       Fruit    7880 2012-09-15  Cross River
158      Orange       Fruit    3861 2012-09-18  Cross River
159  Water leaf  Vegetables    7927 2012-09-19         Ogun
160      Banana       Fruit    6162 2012-09-20  Cross River
161       Mango       Fruit    5523 2012-09-25        Benue
162  Water leaf  Vegetables    5936 2012-09-25        Lagos
163     Carrots  Vegetables    7251 2012-09-26         Ogun
164      Orange       Fruit    6187 2012-09-27        Benue
165      Banana       Fruit    3210 2012-09-29         Ogun
166     Carrots  Vegetables     682 2012-09-29         Ogun
167      Banana       Fruit     793 2012-10-03        Benue
168     Carrots  Vegetables    5346 2012-10-04         Ogun
169      Banana       Fruit    7103 2012-10-07        Delta
170     Carrots  Vegetables    4603 2012-10-10  Cross River
171       Apple       Fruit    8160 2012-10-16       Bauchi
172       Apple       Fruit    7171 2012-10-23        Lagos
173      Banana       Fruit    3552 2012-10-23        Delta
174      Banana       Fruit    7273 2012-10-25        Benue
175      Banana       Fruit    2402 2012-10-26         Ogun
176      Banana       Fruit    1197 2012-10-26        Benue
177       Beans  Vegetables    5015 2012-10-26        Benue
178      Orange       Fruit    5818 2012-11-02  Cross River
179      Banana       Fruit    4399 2012-11-03        Lagos
180     Carrots  Vegetables    3011 2012-11-03  Cross River
181       Apple       Fruit    4715 2012-11-09        Lagos
182       Apple       Fruit    5321 2012-11-12       Bauchi
183      Banana       Fruit    8894 2012-11-15  Cross River
184     Carrots  Vegetables    4846 2012-11-25        Lagos
185  Water leaf  Vegetables     284 2012-11-25         Ogun
186      Orange       Fruit    8283 2012-11-26        Lagos
187      Orange       Fruit    9990 2012-11-28        Abuja
188      Banana       Fruit    9014 2012-11-28        Benue
189       Apple       Fruit    1942 2012-11-29       Bauchi
190      Banana       Fruit    7223 2012-11-30  Cross River
191     Carrots  Vegetables    4673 2012-12-02  Cross River
192     Carrots  Vegetables    9104 2012-12-04       Bauchi
193       Apple       Fruit    6078 2012-12-05  Cross River
194       Beans  Vegetables    3278 2012-12-06         Ogun
195      Banana       Fruit     136 2012-12-12        Abuja
196      Banana       Fruit    8377 2012-12-12        Benue
197      Banana       Fruit    2382 2012-12-12  Cross River
198      Banana       Fruit    8702 2012-12-15         Ogun
199      Banana       Fruit    5021 2012-12-16  Cross River
200       Apple       Fruit    1760 2012-12-16        Benue
201      Banana       Fruit    4766 2012-12-18         Ogun
202       Beans  Vegetables    1541 2012-12-19        Lagos
203      Orange       Fruit    2782 2012-12-20        Lagos
204       Apple       Fruit    2455 2012-12-20        Abuja
205       Apple       Fruit    4512 2012-12-22        Delta
206       Apple       Fruit    8752 2012-12-22         Ogun
207     Carrots  Vegetables    9127 2012-12-25  Cross River
208       Apple       Fruit    1777 2012-12-28       Bauchi
209       Beans  Vegetables     680 2012-12-28       Bauchi
210      Orange       Fruit     958 2012-12-29  Cross River
211     Carrots  Vegetables    2613 2012-12-29        Benue
212     Carrots  Vegetables     339 2012-12-30        Benue

In [59]:
#Fruit.drop(columns="product")

In [60]:
Fruit.groupby("Product").sum("numeric_only")

            Amount
Product
Apple       191257
Banana      340295
Beans        57281
Carrots     136945
Mango        57079
Orange      104438
Water leaf  142439

In [61]:
#sum of amount by state
Fruit.groupby("State").sum("numeric_only")

             Amount
State
Abuja         94745
Bauchi       141056
Benue        131713
Cross River  267133
Delta         66782
Lagos        173137
Ogun         155168

In [62]:
#we can groupby 2columns, i.e when we have like 2 criteria
#shows all the products in the states and their amount
#group()shows only numerical

#import warning
#warnings.filterwarnings("ignore")

Fruit.groupby(['Product','State']).sum('numeric_only')

                        Amount
Product    State
Apple      Abuja         24867
           Bauchi        80193
           Benue         20634
           Cross River   28615
           Delta         10332
           Lagos         17534
           Ogun           9082
Banana     Abuja         33775
           Bauchi        36094
           Benue         52721
           Cross River   95061
           Delta         40050
           Lagos         42908
           Ogun          39686
Beans      Bauchi          680
           Benue         14433
           Cross River    7163
           Lagos          5100
           Ogun          29905
Carrots    Bauchi         9104
           Benue          8106
           Cross River   56284
           Lagos         41815
           Ogun          21636
Mango      Abuja          3767
           Bauchi         7388
           Benue          9186
           Cross River   22363
           Lagos          5600
           Ogun           8775
Orange     Abuja         19929
           Bauchi         2256
           Benue          8680
           Cross River   30932
           Delta         12010
           Lagos         21744
           Ogun           8887
Water leaf Abuja         12407
           Bauchi         5341
           Benue         17953
           Cross River   26715
           Delta          4390
           Lagos         38436
           Ogun          37197